html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/* Sidebar ana kapsayýcýsý ve içindeki tüm elemanlar için scroll gizleme */
.sidebar,
.sidebar-wrapper,
.nav-sidebar,
#sidebar {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE ve Edge */
    overflow-y: auto !important; /* Kaydýrma iþlevini açýk tutar */
}

    /* Chrome, Safari ve Opera (WebKit tabanlý tüm tarayýcýlar) için */
    .sidebar::-webkit-scrollbar,
    .sidebar-wrapper::-webkit-scrollbar,
    .nav-sidebar::-webkit-scrollbar,
    #sidebar::-webkit-scrollbar,
    .sidebar *::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        background: transparent !important;
    }